html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Upload Form

    body
        form(enctype="multipart/form-data" action="/api/fileanalyse" method="post")
            h3 Please Upload A File
            label(for="file")
            input(type="file" id="file" placeholder="choose file")
            button(type="submit" id="submit") Upload
    
